In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### 문제 1. age 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.

In [11]:
Q1 = df['age'].quantile(0.25)
print(round(Q1))

20

### 문제 2. age 변수의 값이 19이상 21이하인 데이터수를 구하시오.

In [14]:
cond1 = df['age'] >= 19
cond2 = df['age'] <= 21

print(len(df[cond1 & cond2]))

65

### 문제3. fare값의 IQR 값을 구하시오.

In [15]:
#-- IQR = Q3- Q1
Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

23.0896

### 문제4. fare 변수의 상위 10개의 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.

In [25]:
df_fare = df['fare'].sort_values(ascending = False)
sum = int(df_fare.head(10).sum())
print(sum)

3361

### 문제5. 전체 승객 중 나이가 25인 비율이 얼마인지 소수점 첫째짜리까지 출력하시오.

In [46]:
df = sns.load_dataset('titanic')
age_25 = len(df[df['age'] == 25])
total_age = len(df['age'])

print(age_25)
print(total_age)

print(age_25/ total_age)
# print(round(age_25/ total_age, 1))

#== 비율?

23
891
0.025813692480359147

### 문제 6. 첫번째 행부터 순서대로 10개 뽑은 후 age 열의 평균값을 반올림하여 정수로 출력하시오.

In [53]:
df = sns.load_dataset('titanic')
df_top10 = df.loc[0:9]
top10_mean = df_top10['age'].mean()
print(round(top10_mean))

28

### 문제 7. 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 fare변수의 중앙값을 구하시오.

In [74]:
p50 = int(len(df) * 0.5)
df_445 = df.loc[0:p50]
fare = df_445['fare'].median()
print(fare)
# print(df_445_fare)

14.4542

### 문제 8. 결측값이 있는 데이터의 수를 출력하시오.

In [3]:
df = sns.load_dataset('titanic')
print(df.isnull().sum().sum())

869

In [4]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### 문제 9. age의 결측값을 age의 중앙값으로 대체하고 age의 평균값을 정수로 출력하시오.

In [86]:
age_median = df['age'].median()
df['age'] = df['age'].fillna(age_median)
age_mean = df['age'].mean()
print(round(age_mean))

30

### 문제 10.
age 컬럼에 결측치가 있는 행을 제거하고,  
첫번째 행부터 순서대로 50%까지의 데이터를 추출하고,  
age 변수의 Q1(1사분위수) 값을 정수로 출력하시오.

In [138]:
df = sns.load_dataset('titanic')
df1 = df['age'].dropna()

p50 = int(len(df1) * 0.5)
df1 = df1.loc[:p50]
age_Q1 = df1.quantile(0.25)
print(round(age_Q1))

20

### 문제 11
age가 20인 사람과 25인 탑승객 그룹의 fare 평균값 차이를 절댓값으로 정수를 출력하시오.

In [19]:
df = sns.load_dataset('titanic')
age_20 = df[df['age'] == 20]
age_25 = df[df['age'] == 25]

age_20_mean = age_20['fare'].mean()
age_25_mean = age_25['fare'].mean()

print(round(abs(age_20_mean - age_25_mean)))

16

### 문제 12
fare 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.  
이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다.

In [31]:
from sklearn.preprocessing import StandardScaler
zscore = StandardScaler()
df = sns.load_dataset('titanic')
#-- 평균, 표준편차
df_mean = df['fare'].mean()
df_std = df['fare'].std()

df['zscore'] = (df['fare'] - df_mean)/ df_std
# df.head(3)
z_upper = df['zscore'] > 1.5
z_lower = df['zscore'] < -1.5

print(len(df[z_upper]) + len(df[z_lower]))

51

### 문제 13
fare 컬럼을 최소최대 스케일링을 진행한 후 0.7보다 큰 값을 가진 레코드 수를 구하여라

In [41]:
from sklearn.preprocessing import MinMaxScaler

df = sns.load_dataset('titanic')
minmax = MinMaxScaler()

df['fare'] = minmax.fit_transform(df[['fare']])

# cond1= df[df['fare'] > 0.7]
cond1 = df['fare'] > 0.7
print(len(df[cond1]))

3

### 문제 14
age컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.

In [ ]:
Q3 = df['age'].quantile(0.75)
Q1 = df['age'].quantile(0.25)

IQR = Q3 - Q1

upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

cond1 = df['age'] > upper
cond2 = df['age'] < lower

print(len(df[cond1]) + len(df[cond2]))

### 문제 15
판매수 컬럼의 결측치를 최소값을 대체하고  
결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 정수로 출력

In [8]:
import pandas as pd
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', 'None', '20230127', '20220203', '20220205', '20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A', 'B', None, 'B', 'A', None, 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수' : [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [30]:
pre_mean = df['판매수'].mean()
min_value = df['판매수'].min()

KeyError: ignored

In [11]:
df['판매수'] = df['판매수'].fillna(min_value)
curr_mean = df['판매수'].mean()

print(round(abs(pre_mean - curr_mean)))

2

### 문제 16
pclass 변수가 1이 아닌 탑승객중 age값이 가장 큰 탑승객의 fare를 구하시오.

In [20]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [29]:
df_notone = df[df['pclass'] != 1]
df_notone.sort_values('age', ascending = False)

print(df_notone['fare'].iloc[0])

7.25

### 문제 17
age 변수값이 20, 25인 두 그룹의 fare의 표준편차값의 차이를 절대값으로 구하고 소수점 첫째짜리 까지 출력

In [40]:
df = sns.load_dataset('titanic')

group_20 = df[df['age'] == 20]
group_25 = df[df['age'] == 25]

group_20_std = group_20['fare'].std()
group_25_std = group_25['fare'].std()

diff = abs(group_20_std - group_25_std)
print(round(diff, 1))

32.0

### 문제 18
pclass 변수의 값별로 그룹화하여 fare평균값을 산출하고   
평균값이 높은 그룹의 fare의 제3사분위수를 구하시오.

In [69]:
df = sns.load_dataset('titanic')
df1 = df.loc[:, ['pclass', 'fare']]

pcldf = df1.groupby('pclass').mean()
# pcldf.head(3)

topQ3 = df1[df1['pclass'] == 1].quantile(0.75)
print(topQ3)

pclass     1.0
fare      93.5
Name: 0.75, dtype: float64

### 문제 19
fare 항목의 상위 7개의 값으로 상위 7개값을 변환한 후
fare가 200 이상인 데이터를 추출하여 fare의 평균값을 반올림하여 정수로 출력하시오.

In [77]:
df_fare = df.sort_values('fare', ascending = False)

df[:7] = df_fare[:7]
df_fare_200 = df[df['fare'] >= 200]
fare_mean = df_fare_200['fare'].mean()
print(int(fare_mean))

339

### 문제 20
car 변수의 merc 문구가 포함된 자동차의 Mpg 평균값을 정수로 출력

In [80]:
import pandas as pd

df = pd.read_csv("data/mtcars.csv")
df = df.reset_index()
print(df)

df1 = df[df['index'].str.contains('Merc')]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

### 문제 21
22년 1분기 A 제품의 매출액을 구하시오
매출액 = 판매수 * 개당수익

In [191]:
import pandas as pd
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [192]:
df['날짜'] =  pd.to_datetime(df['날짜'])
df_1 = df[df['날짜'].between('2022-01-01', '2022-04-01')]

df_A = df_1[df_1['제품'] == 'A']
total = df_A['판매수'] * df_A['개당수익']
print(total.sum())

4900

### 문제 22
22년과 23년의 총 매출액 차이를 절대값으로 구하시오

In [193]:
import pandas as pd
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [194]:
df['날짜'] = pd.to_datetime(df['날짜'])
df['year'] = df['날짜'].dt.year

df['매출액'] = df['판매수'] * df['개당수익']

df_2022 = df[df['year'] == 2022]
df_2022_sum = df_2022['매출액'].sum()
df_2023 = df[df['year'] == 2023]
df_2023_sum = df_2023['매출액'].sum()

print(abs(df_2022_sum - df_2023_sum))

48600

### 문제 23
23년 총 매출액이 가장 큰 제품의 23년 판매수를 구하시오.

In [188]:
import pandas as pd
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [189]:
df['날짜'] = pd.to_datetime(df['날짜'])
df['year'] = df['날짜'].dt.year
df['매출액'] = df['판매수'] * df['개당수익']

df2023 = df[df['year'] == 2023]
df2023 = df2023.sort_values('매출액', ascending = False)
most_item = df2023.iloc[0]['제품']
# print(most_item)

total_sell = df2023[df2023['제품'] == most_item]
total_sell = total_sell['판매수'].sum()
print(total_sell)

80

### 문제 24
매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력

In [195]:
import pandas as pd
df = pd.DataFrame({
    '날짜' : ['20220103', '20220105', '20230105', '20230127', '20220203', '20220205', '20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수' : [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익' : [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [207]:
df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']

# cond1 = (df[df['매출액'] > 4000])
# cond2 = (df[df['매출액'] < 10000])
cond1 = df['매출액'] > 4000
cond2 = df['매출액'] < 10000

print(len(df[cond1 & cond2]))

4

### 문제 25
23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

In [230]:
import pandas as pd
df = pd.DataFrame({
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600]
})

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)
df['time'] = time
df = df[['time', '제품', '판매수', '개당수익']]

In [231]:
df['time'] = pd.to_datetime(df['time'])

df = df.set_index('time')
df1 = df.loc[(df.index >= '2023-09-24 16:00') & (df.index <= '2023-09-24 22:00')]

In [232]:
total = df1['판매수'].sum()
print(total)

25

### 문제 26
9월 25일 00:00 ~ 12:00 까지의 B물품의 매출액 총합을 구하시오.

In [288]:
import pandas as pd
df = pd.DataFrame({
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600]
})

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)
df['time'] = time

df = df[['time', '제품', '판매수', '개당수익']]

In [289]:
df['time'] = pd.to_datetime(df['time'])
df['매출액'] = df['판매수'] * df['개당수익']

df = df.set_index('time', drop= True)
df_pick_B = df.loc[(df.index >= '2023-09-25 00:00') & (df.index <= '2023-09-25 12:00')]
df_pick_B = df_pick_B[df_pick_B['제품'] == 'B']

df_pick_b_sum = df_pick_B['매출액'].sum()
print(df_pick_b_sum)

26500

### 문제 27
9월 24일 12:00 ~24:00 까지의 A 물품의 매출액 총합을 구하시오.

In [318]:
import pandas as pd
df = pd.DataFrame({
    '제품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수' : [5, 10, 15, 15, 20, 25, 40],
    '개당수익' : [500, 600, 500, 600, 600, 700, 600]
})

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)
df['time'] = time

df = df[['time', '제품', '판매수', '개당수익']]

In [321]:
df['time'] = pd.to_datetime(df['time'])
df['매출액'] = df['판매수'] * df['개당수익']
df1 = df.set_index('time')
df1

                    제품  판매수  개당수익    매출액
time
2023-09-24 12:25:00  A    5   500   2500
2023-09-24 16:48:25  B   10   600   6000
2023-09-24 21:11:50  A   15   500   7500
2023-09-25 01:35:15  B   15   600   9000
2023-09-25 05:58:40  A   20   600  12000
2023-09-25 10:22:05  B   25   700  17500
2023-09-25 14:45:30  A   40   600  24000

In [327]:
df_pick = df1.loc[(df1.index >= '2023-09-24 12:00') & (df1.index <= '2023-09-24 23:59:59')]
df_pick_A = df_pick[df_pick['제품'] == 'A']
print(df_pick_A['매출액'].sum())

10000